<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony-Forum{% endblock %}</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/navbar-fixed/">
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/css/navbar-top-fixed.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Symfony-Forum</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/">User - List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/new">User - Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/theme/">Theme - List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/theme/new">Theme - Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/message/">Message - List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/message/new">Message - Add</a>
                </li>
                {# <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> #}
                </ul>
            </div>
        </nav>

        <div class="centered">
        {% block body %}{% endblock %}
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
